body {
  font-size: 1em;
}
body:not(.front) #supercontent {
  margin: 0 0 20px 0;
}
.content-container {
  padding: 0;
}
#superheader  {
  .block-queenslaw-utility-bar {
    padding: 0 20px 10px 20px;
    .queens-wordmark {
      display: none;
    }
    button.qw-header-component.qw-search-login-toggle.default {
      float: none;
    }
    #qw-header {
      margin: 0 0 10px 0;
    }
    .qw-customsearch {
      width: 100%;
      input.form-text {
        width: 100%;
      }
      .form-item-search-terms {
        width: 80%;
      }
    }
  }
}
#header {
  height: 140px;
  > div {
    padding: 0;
    .header-content {
      #block-mainnavigation {
        .small-screen-nav-trigger {
          top: 80px;
          right: 20px;
        }
        > ul {
          padding: 0 20px;
          margin: 20px 0;
        }
      }
    }
    .block-searchform {
      float: none;
      top: 0;
      padding: 0 0 5px 0 !important;
      top: 15px;
      left: 20px;
      margin-left: 0;
    }
  }
}
#subheader {
  > div {
    padding: 12px 0;
  }
}
body.queenslaw-main-site {
  #branding {
    margin-top: 0;
    padding: 10px 20px 16px 20px;
    + div {
      float: left;
    }
    .block svg {
      height: 44px;
    }
    .block-logo svg {
      height: 28px;
    }
  }
}
body.queenslaw-main-site.front {
  #content {
    height: 200px;
  }
}
#block-subsubsection-navigation + .block-queenslaw-breadcrumbs ol,
#block-secondary-subnavigation + .block-queenslaw-breadcrumbs ol,
#block-calendar-subnavigation + .block-queenslaw-breadcrumbs ol {
  padding-left: 0;
}
#supercontent {
  .block-views-block-features-block {
    > div .fields:after {
      content: "";
      clear: both;
      display: table;
    }
    > div .fields > div {
      height: auto;
      padding-left: 0;
      width: 100%;
    }
    > div .fields > div > div {
      display: block;
      padding: 0 20px;
    }
    .feature-image, .teaser-image {
      width: 100%;
      right: 0;
    }
    .feature-image {
      box-shadow: inset 0 0 0 1000px rgba(0,0,0,.65);
    }
  }
  .block-views-block-stories-front-block {
    > div .fields:after {
      content: "";
      clear: both;
      display: table;
    }
    > div .fields > div {
      height: auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    > div .fields > div > div {
      display: block;
      padding: 0 20px;
    }
    .field--name-field-date {
      left: 20px;
    }
    .feature-image, .teaser-image {
      width: 100%;
      right: 0;
    }
    .teaser-image {
      left: 0;
      box-shadow: inset 0 0 0 1000px rgba(255,255,255,.70);
    }
  }
  .block-views-block-ctas-block {
    width: 100%;
    .views-row {
      width: 100%;
    }
  }
  .block-views-block-events-front-block {
    width: 100%;
  }
}
#main {
  .block-highlights {
    ul {
      padding-left: 20px;
    }
    ul li,
    ul li + li,
    ul li + li + li,
    ul li + li + li + li {
      margin-left: 0;
    }
  }
  .block-views-block-ctas-block {
    .views-row {
      width: 100%;
      float: none;
    }
  }
  .block-views-block-events-block,
  .block-queenslaw-syndication.block-syndicatedeventblock {
    > div .fields:after {
      content: "";
      clear: both;
      display: table;
    }
    > div .fields > div {
      height: auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    > div .fields > div > div {
      display: block;
      padding: 0 20px;
    }
    .field--name-field-date {
      left: 20px;
    }
    .feature-image, .teaser-image {
      width: 100%;
      right: 0;
    }
    .teaser-image {
      left: 0;
      box-shadow: inset 0 0 0 1000px rgba(255,255,255,.70);
    }
    .views-row:nth-child(even) .fields > div,
    .queenslaw-event:nth-child(even) .fields > div {
      padding-left: 0;
    }
  }
  .block-views-block-events-block-alumni {
    > div .fields:after {
      content: "";
      clear: both;
      display: table;
    }
    > div .fields > div {
      height: auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    > div .fields > div > div {
      display: block;
      padding: 0 20px;
    }
    .field--name-field-date {
      left: 20px;
    }
    .feature-image, .teaser-image {
      width: 100%;
      right: 0;
    }
    .teaser-image {
      left: 0;
      box-shadow: inset 0 0 0 1000px rgba(255,255,255,.70);
    }
    .views-row:nth-child(even) .fields > div {
      padding-left: 0;
    }
  }
  .block-views-block-events-front-block {
    > div .fields:after {
      content: "";
      clear: both;
      display: table;
    }
    > div .fields > div {
      height: auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    > div .fields > div > div {
      display: block;
      padding: 0 20px;
    }
    .field--name-field-date {
      left: 20px;
    }
    .feature-image, .teaser-image {
      width: 100%;
      right: 0;
    }
    .teaser-image {
      left: 0;
    }
  }
  .block-views-block-speaker-events-block {
    > div .fields:after {
      content: "";
      clear: both;
      display: table;
    }
    > div .fields > div {
      height: auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    > div .fields > div > div {
      display: block;
      padding: 0 20px;
    }
    .field--name-field-date {
      left: 20px;
    }
    .feature-image, .teaser-image {
      width: 100%;
      right: 0;
    }
    .teaser-image {
      left: 0;
    }
    .views-row:nth-child(even) .fields > div {
      padding-left: 0;
    }
  }
  .block-views-block-speaker-events-front-block {
    > div .fields:after {
      content: "";
      clear: both;
      display: table;
    }
    > div .fields > div {
      height: auto;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    > div .fields > div > div {
      display: block;
      padding: 0 20px;
    }
    .field--name-field-date {
      left: 20px;
    }
    .feature-image, .teaser-image {
      width: 100%;
      right: 0;
    }
    .teaser-image {
      left: 0;
      box-shadow: inset 0 0 0 1000px rgba(255,255,255,.70);
    }
  }
}
body.queenslaw-main-site.page-programs-jd {
  #main {
    .queenslaw-teasers {
      .teaser:nth-child(4), .teaser:nth-child(5), .teaser:nth-child(n + 6), .teaser {
        width: 100%;
      }
    }
  }
}
.block-views-block-page-title-block {
  .page-title {
    > .fields > div > div {
      padding: 0 20px;
    }
    > .fields {
      padding: 20px 0;
    }
  }
  .page-title-with-image {
    left: 0;
    width: 100%;
    height: auto;
    position: relative;
    > .fields > div {
      padding-right: 0;
      width: 100%;
      height: auto;
      display: block;
    }
    .page-title-image {
      display: none;
    }
  }
}
.block-pagetitle {
  .page-title {
    > .fields > div > div {
      padding: 0 20px;
    }
    > .fields {
      padding: 20px 0;
    }
  }
  .page-title-with-image {
    left: 0;
    width: 100%;
    height: auto;
    position: relative;
    > .fields > div {
      padding-right: 0;
      width: 100%;
      height: auto;
      display: block;
    }
    .page-title-image {
      display: none;
    }
  }
}
.view-taxonomy-term {
  .teaser, .views-row {
    width: 100%;
  }
}
.queenslaw-teasers {
  .teaser, .views-row {
    width: 100%;
  }
}
.node--view-mode-full .field--name-field-image {
  width: 100%;
  float: none;
  padding-right: 0;
}
.align-left {
  float: none;
  margin: 0 0 15px 0;
}
.align-right {
  float: none;
  margin: 0 0 15px 0;
}
.block-views, body.landing-page-directory, .block-queenslaw-people {
  .view-people {
    article {
      ul.links {
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
        text-align: left;
        a {
          text-align: right;
        }
      }
      .field--name-field-person-type {
        width: 100%;
      }
    }
    .views-exposed form .form-actions:before {
      left: -20px;
      position: relative;
    }
  }
}
#superfooter {
  .block-sirjohnamacdonaldhall {
    height: 400px;
  }
  .block-type-contact,
  .block-facultyoflaw {
    width: 100%;
    padding: 0;
    .field--name-field-address {
      width: 100%;
    }
  }
  .block-queensuniversitylogo {
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
  }
}
#footer .footer-content {
  padding: 0;
}
#block-highlightvideo {
  display: none;
}
