body {
  min-width: 0;
}
body,
#subheader > div,
.content-container,
.block-views-block-hero-images-block .caption,
#footer {
  min-width: 0;
}
body.sidebar-first #main,
#sidebar,
#subheader > div {
  width: 100%;
  float: none;
  clear: both;
}
input,
textarea,
select {
  font-size: 16px !important;
}
#superheader {
  .block-backtoqueensuniversityfacultyoflaw {
    min-width: 0;
    width: 100%;
  }
}
#header {
  > div {
    min-width: 0;
    width: auto;
    #branding {
      margin-top: -20px;
      top: 14px;
      .block {
        img {
          height: 48px !important;
        }
      }
      .block-system {
        img {
          height: 24px !important;
        }
      }
    }
    .block-searchform {
      top: -25px;
      right: 80px;
      padding: 0 !important;
    }
    .header-content {
      padding-top: 0;
      float: left;
      text-align: left;
      padding: 0;
      #block-mainnavigation {
        float: none;
         .small-screen-nav-trigger {
          display: block !important;
          position: absolute;
          z-index: 1;
          background: transparent url(../nav-trigger-bg.png) scroll no-repeat 10px 50%;
          background-size: auto auto;
          background-size: 20px;
          padding: 10px 0 10px 10px;
          width: 20px;
          height: 20px;
          overflow: hidden;
          text-indent: 40px;
          white-space: nowrap;
          top: 50px;
          right: 40px;
          cursor: pointer;
        }
        .menu li + li {
          margin-left: 0;
        }
        ul {
          display: none;
          li {
            display: block !important;
            position: relative;
          }
          .small-screen-nav-submenu-trigger {
            position: absolute;
            right: 0;
            top: 8px;
            cursor: pointer;
          }
          .submenu {
            .small-screen-nav-submenu-trigger {
              top: 3px;
              cursor: pointer;
            }
            .submenu li.menu-item--expanded a:after {
              content: none;
            }
          }
          .menu-item--active-trail {
            a {
              border: none;
              padding-bottom: 10px;
            }
          }
        }
        > ul {
          padding: 0 20px;
          margin: 0 0 20px 0;
        }
        a {
          padding: 10px 0;
        }
        a.is-active,
        a:hover {
          border: none;
          padding-bottom: 10px;
          color: #ccc;
        }
        .menu-item--active-trail {
          .submenu {
            a, h3 a:hover{
              padding: 5px 0;
            }
          }
        }
        .description {
          display: none !important;
        }
        .submenu {
          display: none;
          margin-left: 10px;
          li {
            margin: 5px 0;
            padding: 5px 0;
            a.is-active {
              color: #333;
            }
          }
          p {
            margin-bottom: 0;
          }
          .menu-item-content {
            width: 100%;
          }
          .submenu {
            display: none;
            margin-left: 10px;
            margin-bottom: 0;
            .submenu {
              display: none;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
#block-subsubsection-navigation,
#block-secondary-subnavigation,
#block-calendar-subnavigation {
  display: none;
}
#supercontent {
  .block-views-block-features-block {
    .feature-image,
    .teaser-image {
      width: 50%;
      right: 50%;
    }
    > div .fields > div {
      padding-left: 50%;
    }
  }
  .block-views-block-stories-front-block {
    .feature-image,
    .teaser-image {
      width: 50%;
      right: 50%;
    }
    .teaser-image {
      left: 50%;
    }
    > div .fields > div {
      padding-left: 0;
      padding-right: 50%;
    }
  }
}
#main {
  figure {
    margin: 24px 24px 24px 24px;
    width: 100%;
    &.align-right {
      margin: 24px;
    }
    &.align-left {
      margin: 24px;
    }
    img {
      width: 100%;
      height: none;
    }
    figcaption {
      border-bottom: 1px solid $light-grey;
      padding: 8px 27px 12px 0;
      font-size: 0.875em;
    }
  }
  .block-views-block-events-block,
  .block-queenslaw-syndication.block-syndicatedeventblock {
    .feature-image,
    .teaser-image {
      width: 50%;
      left: 50%;
    }
    > div .fields > div {
      padding-left: 0;
      padding-right: 50%;
    }
    .views-row:nth-child(even),
    .queenslaw-event:nth-child(even) {
      .fields > div {
        padding-left: 50%;
      }
    }
  }
  .block-views-block-events-block-alumni {
    .feature-image,
    .teaser-image {
      width: 50%;
      right: 50%;
    }
    > div .fields > div {
      padding-left: 0;
      padding-right: 50%;
    }
    .teaser-image {
      left: 50%;
    }
  }
  .block-views-block-events-front-block {
    width: 100%;
    float: none;
    .feature-image,
    .teaser-image {
      width: 50%;
      right: 50%;
    }
    > div .fields > div {
      padding-left: 0;
      padding-right: 50%;
    }
    .teaser-image {
      left: 50%;
    }
  }
  .block-views-block-speaker-events-block {
    .feature-image,
    .teaser-image {
      width: 50%;
      right: 50%;
    }
    > div .fields > div {
      padding-left: 0;
      padding-right: 50%;;
    }
    .teaser-image {
      left: 50%;
    }
  }
  .block-views-block-speaker-events-front-block {
    .feature-image,
    .teaser-image {
      width: 50%;
      right: 50%;
    }
    > div .fields > div {
      padding-left: 0;
      padding-right: 50%;
    }
    .teaser-image {
      left: 50%;
    }
  }
  .block-views-block-ctas-block {
    width: 100%;
    float: none;
  }
  .block-views-block-hero-images-block {
    .view-hero-images {
      padding-bottom: 0;
    }
  }
  .block-highlights {
    ul {
      padding-top: 50px;
      width: 120px;
      li {
        position: static;
        left: 20%;
        margin-left: 20%;
        margin-bottom: 20px;
        display: block;
      }
      li + li p {
        width: 120px;
      }
      li + li,
      li + li + li,
      li + li + li + li {
        margin-left: 20%;
      }
    }
  }
}
#sidebar {
  margin: 0 0 20px 0;
  h1 {
    font-size: 2.2em;
  }
}
.block-views-block-page-title-block {
  .page-title-image {
    left: 50%;
  }
  .page-title-image {
    left: 50%;
  }
  .page-title-with-image {
    > .fields > div {
      padding-right: 50%;
    }
  }
}
.block-pagetitle {
  .page-title-with-image {
    > .fields > div {
      padding-right: 50%;
    }
  }
}
.block-views {
  .view-people {
    .views-row {
      width: 100%;
      float: none;
    }
    .queenslaw-person {
      width: 100%;
      float: none;
    }
    .views-exposed .form-checkboxes .form-item {
      width: auto;
    }
  }
}
body.landing-page-directory {
  .view-people {
    .views-row {
      width: 100%;
      float: none;
    }
    .queenslaw-person {
      width: 100%;
      float: none;
    }
    .views-exposed .form-checkboxes .form-item {
      width: auto;
    }
  }
  .people-dynamic .clear-all-filters {
    display: block;
    margin: 15px 0 0 0;
  }
}
.block-queenslaw-people {
  .views-row {
    width: 100%;
    float: none;
  }
  .queenslaw-person {
    width: 100%;
    float: none;
  }
  .views-exposed .form-checkboxes .form-item {
    width: auto;
  }
}
body.queenslaw-main-site.page-programs-jd {
  #main {
    .queenslaw-teasers {
      .teaser,
      .teaser:nth-child(4),
      .teaser:nth-child(5),
      .teaser:nth-child(n + 6) {
        width: 50%;
        height: 250px;
      }
      .teaser:nth-child(6) {
        background-color: #11335d;
      }
      .teaser:nth-child(7) {
        background-color: #eebd31;
        color: #333;
        a, .node-readmore a {
          color: #333;
          border-color: #333;
        }
      }
      .teaser:last-of-type {
        width: 100%;
      }
    }
  }
}
.view-taxonomy-term {
  .teaser, .views-row {
    width: 50%;
  }
  .teaser:nth-child(4n + 1), .views-row:nth-child(2n + 1) {
    clear: both;
  }
}
.queenslaw-teasers {
  .teaser, .views-row {
    width: 50%;
  }
  .teaser:nth-child(2n + 1), .views-row:nth-child(2n + 1) {
    clear: both;
  }
}
#superfooter {
  .block-type-contact, .block-facultyoflaw {
    width: 70%;
  }
}
img.parallax-slider {
  max-width: unset !important;
  height: unset !important;
}
#block-highlightvideo {
  display: none;
}
.quoteWrapper {
  margin: 35px 5%;
  .quote {
    font-size: 1.3em;
    padding: 40px 40px 0 40px;
    &:nth-last-child(1) {
      padding: 40px 40px;
    }
    &:before {
      left: 0;
    }
    &:nth-last-child(1):after {
      right: 0;
    }
  }
}