{#
/**
 * This template requires the "Twig Tweak" module to load the URI for an image style.
 */
#}
{% set image_uri = image['#uri'] %}
{% if image_style %}
  {% set image_uri = image_uri | image_style(image_style) %}
{% endif %}
{% set backgroundposition = node.field_background_position.value %}

<div class="image">
  <div style="background-image: url({{ image_uri }}); background-position: {% if backgroundposition %}{{ backgroundposition }}{% else %}75% 25%{% endif %};"></div>
</div>
{% if caption %}
  <div class="caption">{{ caption }}</div>
{% endif %}
